body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444;
    color: #fff;
}

.container {
    text-align: center;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 400px;
    overflow-y: auto;
    background: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#messages li.message {
    background: #444;
}

#messages li.user-joined {
    background: #2b2e2c; /* Verde para "entrou" */
    color: #54cc36;
    
}

form {
    display: flex;
    background: #222;
    padding: 10px;
    border-radius: 5px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 4px;
    background: #444;
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    background-color: #c9c7c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #3d3b32;
    color:#f8f8f8;
    transform: scale(1.05);
}