body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #444;
    color: #fff;
    flex-direction: column;
}

.container {
    text-align: center;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 400px;
    overflow-y: auto;
    background: #222;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#messages li.message {
    background: #444;
}

#messages li.user-joined {
    background: #2b2e2c;
    color: #54cc36;
    
}

form {
    display: flex;
    background: #222;
    padding: 10px;
    border-radius: 5px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 4px;
    background: #444;
    color: #fff;
    height: 30px;

}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    background-color: #c9c7c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #3d3b32;
    color:#f8f8f8;
    transform: scale(1.05);
}

.btn-container{
    display: flex;
    justify-content: center;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-top: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    width: 150px;  
    height: 50px;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  

  .button svg path {
    transition: 400ms;
  }

  .button svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }

  @media (max-width: 600px) {
    button {
      width: 120px;
      height: 45px;
      font-size: 14px;
    }
    button svg, button i {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }


  a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}